// default-styling

body {
    font-family: $myfont-family-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: $lineheight-base;
    background-color:$color-white;
    color: $body-color;
}

h1 {
    font-weight: $font-weight-bold;
    font-size: 40px;
    color: $mycolor-1;
    padding-top: 40px;
    padding-bottom: 50px;
}

h5 {
    font-weight: $font-weight-bold;
    font-size: 40px;
    color: $color-white;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 50px;
}

h2 {
    font-weight: $font-weight-bold;
    font-size: 20px;
    color: $mycolor-1;
    padding-top: 0px;
    padding-bottom: 30px;
}

h3 {
    font-weight: $font-weight-bold;
    font-size: 20px;
    color: $mycolor-1;
    padding-top: 50px;
    padding-bottom: 30px;
}

h4 {
    font-size: 1rem;
    font-weight: $font-weight-bold;
    margin-top: 30px;
    margin-bottom: 30px;
    color: $mycolor-2;
}

h6 {
    font-weight: $font-weight-bold;
    font-size: 20px;
    color: $mycolor-1;
    padding-top: 50px;
    padding-bottom: 30px;
}

p{
    padding-top:0px;
    padding-bottom: 20px;
}

img{padding-top:0px;}

a {
    text-decoration: none;
    color: $mycolor-1;
    border-bottom: 1px $body-link;
    &:hover{
        color: $mycolor-3;
        text-decoration: none;
        border-bottom: solid 1px $color-grey-2;
    }
    &:active{
        background-color: $color-grey-2;
        color: $color-white;
    }
    &:focus{
        background-color: $color-white;
    }
}

blockquote {
    padding-left: 24px;
    border-left: 2px solid $mycolor-3;
}

// ongeordende lijstjes met een ander symbool of kleur
main ul {
  list-style: none;  
  margin: 0 0 1em;
  padding: 0;
  li {
    padding-left: 25px;
    text-indent: -25px;
    &:before {
        content:'\2022';
        color: $mycolor-3;
        margin-right: 18px;
    }    
  }
}

//geordende lijstjes met een ander symbool of kleur
main ol {
    list-style: none;  
    margin: 0 0 1em;
    padding: 0;
    counter-reset: i 0;
    color: $mycolor-3;
    li {
      padding-left: 25px;
      text-indent: -25px;
      margin-bottom: 0.5rem;

      &:before {
        counter-increment: i;
        content: counter(i);    
        padding: 3px 6px;
        margin-right: 5px;
        border-radius: 2px;
        background-color: $mycolor-1;
        color: $color-white;
        font-family: $myfont-family-title;
        font-weight: $font-weight-bold;
      }    
    }
  }

//forms 
button, a.btn {
    background-color:$mycolor-1;
    color: $color-white;
    width:97px;
    height: 37px;
    border-radius: 5px;
    border: none;
    font-size: 15px;


    &:hover{
    background-color:$mycolor-4;
    color: aliceblue;    
    }
    &:active{
    background-color: $mycolor-1;
    color: aliceblue;
    }
    &:focus{
    background-color: $mycolor-1;
    }
}
input[type=text], textarea {

}

.buttonfolder{
    margin-top: 0px;
}

.buttonaffiche{
    margin-top:120px;
}

.buttonposter{
    margin-top:165px;
}

.buttonthsirt{
    margin-top:220px;
}

.buttonstickers{
    margin-top:35px;
}

.buttonnieuws{
    margin-top:100px;
}

.buttondownload{
    margin-top:50px;
    margin-bottom:50px;
}

.lettertype{
    width: 780px;
}